h1{
  color: #f05a28;
  font-size: 60px;
}

body{
  background-color: grey;
}
footer{
  color: #f05a28;
font-size: 40px;
}
h2{
  font-size: 60px;
  color: green;
}
h3{
  font-size: 55px;
}
p{
  font-size: 30px;
  color: yellow;
}
